<%- include('partials/header') -%>
<div class="container">
  <div class="flex flex-col justify-center mt-5">
    <div class="">
      <div class="lg:flex place-items-center justify-around">
        <div class="m-10 p-6 border-2 rounded-xl bg-slate-200 text-base-200 max-w-[450px] space-y-2">
          <h1 class="text-2xl font-bold">User-Post Profile:</h1>
          <h2> <span class="text-primary text-xl font-bold">User: </span><%= post.user.userName %></h2> 
          <h2> <span class="text-primary text-xl font-bold">Title: </span><%= post.title %></h2>
          <h2> <span class="text-primary text-xl font-bold">Special Requests: </span><%= post.caption %></h2>
          <h2> <span class="text-primary text-xl font-bold">Paid: </span>
            <% if(post.paid === false) { %> 
              <span class="text-red-500"> &#10005; NOT PAID </span>  
              <% } else { %>
                <span class="text-green-500 font-bold"> &#x2713; PAID </span>  
                <% } %>
          </h2>
        </div>


        <!-- The Payment Form -->
        <div class="m-10 p-6 border-2 rounded-xl bg-slate-200 text-base-200 max-w-[450px]">
          <h1 class="text-2xl font-bold">Payment Details:</h1>
          <form action="/post/<%= post._id%>" enctype="multipart/form-data" method="POST" class="space-y-2">
            <h1><span class="text-primary text-xl font-bold">User: </span> <%= post.user.userName %></h1>
            <h1><span class="text-primary text-xl font-bold">Title: </span> <%= post.title %></h1>
            <h1><span class="text-primary text-xl font-bold">User Email: </span> <%= post.user.email %></h1>
            <h1><span class="text-primary text-xl font-bold">Payment Amount: </span> <%= post.paymentAmount %></h1>
              
            <div class="flex place-items-center justify-between">
              <button type="submit" class="btn btn-primary text-base-200 hover:text-slate-200 w-1/2" value="Payment">Pay with Stripe</button>
              <h1 class="font-bold w-1/2 pl-5 text-2xl text-center">Total: <span class="text-green-600"> <%= post.paymentAmount %> $157.00</span></h1>
            </div>
          </form>
        </div>
      </div>

      
    
      <iframe src="<%= post.image %>" class="w-screen h-screen"></iframe>
      
      <div class="flex justify-between p-10">
        <%if(post.user == user.id || user.admin == true){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-6"
        >
          <button class="btn bg-red-500 text-base-200 hover:text-white hover:border-red-500 hover:bg-red-900 hover:scale-110" type="submit">Delete the Doc</button>
        </form>
        <%}%>

        <% if (user.admin === true) { %>
          <div class="col-6">
            <a class="btn btn-primary" href="/adminDashboard">Return to All Uploads</a>
            <a class="btn btn-secondary" href="/profile">Return to Admin Panel</a>
          </div>  
        <% } else { %>
          <div class="col-6">
            <a class="btn btn-secondary" href="/profile">Return to Profile</a>
          </div>
          <% } %>
      </div>
    
    </div>
    
  </div>
</div>

<%- include('partials/footer') -%>
